nav {
    background-color: white;
}

main {
    padding: 70px 0;
    font-family: 'Roboto Mono',monospace; 
}

a {
    color: orangered; 
}

a:hover {
    color: rgb(179, 0, 255); 
    text-decoration: underline wavy; 
}

strong {
    font-weight: 700; /* This is the font-weight for bold */
  }

  .center {
    margin: auto;
    width: 50%;
  }

.video-container {
    /* background-color: #f8f9fa; */
    border-radius: 0.25rem; 
    padding: 1rem; 
}

.video-max-width {
    max-width: 100%;
}

@media (min-width: 768px) {
    .video-max-width {
        max-width: 300px;
    }
}

div.spacer {
    padding-bottom: 50px;
}

h1,h2 {
    font-weight: 700;
}

blockquote {
    font-style:italic;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    padding-left: 15px;
    border-left: 5px solid #000;
    display:inline-flex;
  } 
  
  blockquote span {
    margin-top:-10px;
    margin-bottom:-10px;
  }

  .img-border {
    border: 1px solid #000;
  }

  #pancakes {
    margin-top: 100px;
}

::selection {
    background-color: black;
    color: white;
}

::-moz-selection {
    background-color: black;
    color: white;
}