nav {
    background-color: white;
}

main {
    padding: 70px 0;
    font-family: 'Roboto Mono',monospace; 
}

main ul li a {
    color: orangered; 
}

main ul li a:hover {
    color: rgb(179, 0, 255); 
    text-decoration: underline wavy; 
}

strong {
    font-weight: 700; /* This is the font-weight for bold */
  }

  .center {
    margin: auto;
    width: 50%;
  }

.video-container {
    /* background-color: #f8f9fa; */
    border-radius: 0.25rem; 
    padding: 1rem; 
}

.video-max-width {
    max-width: 100%;
}

@media (min-width: 768px) {
    .video-max-width {
        max-width: 300px;
    }
}

div.spacer {
    padding-bottom: 50px;
}